---
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro"

---

<MainLayout title="Forside">
	<h2></h2>
	<Card name="Annejette" email="kcjhkjh"></Card>
	<Card name="Elena" email="kcjhkjh"></Card>
	
</MainLayout>


