---
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro"
import Component from "../components/Component.astro"
import "../styles/style.css"

---

<MainLayout title="Forside">
	<h2></h2>
	<Card name="Annejette" email="ggh"></Card>
	<Card name="Elena" email="ggh"></Card>
	<Component h3="RELEVANT"></Component>

</MainLayout>



