---

---

<nav>
  <div class="menu">
    <div class="logo">
      <a href="/#">
        <img src="img.png" alt="logo" />
      </a>
    </div>
    <h2>29/8 - 31/8</h2>
    <h2>DA</h2>
    <a href="/lineup">
      <img src="img.png" alt="logo" />
    </a>
  </div>
</nav>

<nav>
  <a href="/#">Hjem</a>
  <a href="/lineup">Lineup</a>
  <a href="/artist">Artist</a>
</nav>

<style>
  .menu {
    display: flex;
    justify-content: space-between;
  }
</style>
